* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #82b340;
$mainWhite: #fff;
$mainGrey: #d8d8d8;

body {
  background: $mainGrey;
  color: $mainBlack;
  font-family: "Montserrat", sans-serif;
}
